.parent {
display:grid ;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(1.5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 3 / 2 / 4; }
.div2 { grid-area: 3 / 2 / 4 / 3; }
.div3 { grid-area: 3 / 3 / 4 / 4; }
.div4 { grid-area: 3 / 4 / 4 / 5; }
.div5 { grid-area: 5 / 3 / 6 / 4; }

h1{
text-align: center;
}

img{
width: 120px;
height: 120px;
cursor: pointer;
}

body{
background-color: rgb(45, 46, 46);
}

button {
    background-color: greenyellow;
    width: 400px;
    height: 80px;
    cursor: pointer;
}
